.menus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.active-items{
    background-color: darkgray;
}
.menus > div{
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 4px;
}
.menus > div:hover{
    background-color: darkgrey;
}
#input{
    width: 8vw;
    height: 3vh;
}
#nav{
    display: flex;
    align-items: centre;
    background-color: rgb(23, 124, 23);
}
#nav > div{
    padding:10px 20px;
    color:white;
    font-size: 25px;
    font-weight: 400;
}